.vagrant*
vagrant/hiera/ssh.yaml
vagrant/metadata.json
vagrant/Puppetfile.lock
vagrant/.librarian
.ssh
.docker
*-images.tar
.tmp
.librarian
*~
#*
*.bak
Puppetfile.lock
Gemfile.lock
spec/fixtures/modules/
*.retry
*.idempotent
*.rej
*.pyc
